include ../dropdown-calendar/dropdown-calendar
include ../dropdown-goods/dropdown-goods
include ../button/button

mixin about-room({ isLuxe = false, roomNumber = 0, roomPrice = "", roomPrefix = "", roomPostfix = "", tableData = {}, dropdownCalendarOptions = {}, dropdownGoodsOptions = {}, buttonOptions = {} } = {})
  - const luxeClass = isLuxe ? "about-room__number-details_luxe" : "";
  section.about-room
    .about-room__content
      .about-room__header
        span.about-room__number-details(class = luxeClass)
          span.about-room__number-prefix= roomPrefix
          span.about-room__number= roomNumber
        .about-room__price-details
          span.about-room__price= roomPrice
          span.about-room__price-postfix= roomPostfix
      form.about-room__form(id = "about-room" action="mock")
        .about-room__dropdown-calendar
          +dropdown-calendar(dropdownCalendarOptions)
        .about-room__dropdown-goods
          +dropdown-goods(dropdownGoodsOptions)
      .about-room__table-wrapper
        table.about-room__table
          - const { rows, heading } = tableData;
          each row in rows
            - const { text, hasInfoButton, price } = row;
            tr.about-room__tr
              td.about-room__td= text
              td.about-room__td
                if hasInfoButton
                  button(type = "button").about-room__info i
              td.about-room__td= price
          - const { totalText, totalPrice } = heading;
          tr.about-room__tr
            th.about-room__th= totalText
            th.about-room__th(colspan = 2)= totalPrice
      .about-room__submit-button
        +button(buttonOptions)