include ../subscription-form/subscription-form

mixin footer({ logoUrl = "", navigationLists = [], about = {}, subscription = {}, copyright = {}, socialLinks = [] } = {})
  footer.footer
    .footer__content
      .footer__about
        .footer__logo
          img.footer__logo-img(src = logoUrl, alt = "Toxin")
        .footer__about-text= about.text
      ul.footer__navigation-lists
        each navigationList in navigationLists
          - const { title, links } = navigationList;
          li.footer__navigation-lists-item
            nav.footer__navigation
              h3.footer__navigation-title= title
              ul.footer__navigation-list
                each link in links
                  - const { name, url } = link;
                  li.footer__navigation-item
                    a.footer__navigation-link(href = url)= name
      .footer__subscription
        - 
          const subscriptionTitle = subscription.title;
          const subscriptionText = subscription.text;
          const { subscriptionFormOptions } = subscription; 
        h3.footer__subscription-title= subscriptionTitle
        p.footer__subscription-text= subscriptionText
        .footer__subscription-form
          +subscription-form(subscriptionFormOptions)
    .footer__copyright
      - const copyrightText = copyright.text;
      .footer__copyright-content
        p.footer__copyright-text= copyrightText
        ul.footer__social-list
          each socialLink in socialLinks
            - 
              const { imgUrl, alt } = socialLink;
              const socialLinkUrl = socialLink.url;
            li.footer__social-item
              a.footer__social-link(href = "mock")
                img.footer__social-img(src = imgUrl, alt = alt)